<h4>Basic Fundamentals of Python Programming:</h4>

<p>Numeric Values</p>

In [3]:
integer = 15
floating = 12.8

print(integer, " is of type ", type(integer))
print(floating, " is of type ", type(floating))

15  is of type  <class 'int'>
12.8  is of type  <class 'float'>

<p>String Values</p>

In [4]:
string1 = 'Single quotes'
string2 = "Double quotes"

print(string1, " is of type ", type(string1))
print(string2, " is of type ", type(string2))

Single quotes  is of type  <class 'str'>
Double quotes  is of type  <class 'str'>

In [13]:
print(3 + 5)        # answer is integer since both are integer
print(4.0 + 1.2)    # answer is float since both are float
print(3 + 4.0)      # answer will be float since float occupy more space than integer
print(float(3 + 4)) # explicit datatype conversion
print(str(3 + 5))   # answer is int = 8 then convert into string
print(str('3 + 5')) # treated as string

8
5.2
7.0
7.0
8
3 + 5

<p>Reserve Keywords:</p>

<table>
    <tr>
        <td>and</td>
        <td>as</td>
        <td>assert</td>
        <td>break</td>
        <td>class</td>
    </tr>
    <tr>
        <td>else</td>
        <td>elif</td>
        <td>del</td>
        <td>def</td>
        <td>continue</td>
    </tr>
    <tr>
        <td>except</td>
        <td>False</td>
        <td>finally</td>
        <td>for</td>
        <td>from</td>
    </tr>
    <tr>
        <td>Is</td>
        <td>in</td>
        <td>import</td>
        <td>if</td>
        <td>global</td>
    </tr>
    <tr>
        <td>lambda</td>
        <td>None</td>
        <td>nonlocal</td>
        <td>not</td>
        <td>or</td>
    </tr>
    <tr>
        <td>True</td>
        <td>try</td>
        <td>return</td>
        <td>raise</td>
        <td>pass</td>
    </tr>
    <tr>
        <td>while</td>
        <td>with</td>
        <td>yield</td>
    </tr>
</table>

<h4>Reassigning Objects</h4>

<p>Reassigning a function to a variable</p>

In [16]:
# Using the normal print() function, which will output 18
print(18)

# Reassigning the name 'print' as a variable holding integer 99
print = 99

# Using the print as a normal print() function, will cause an error
# since print is no longer a function but a variable
print(27)

TypeError: 'int' object is not callable

<p>To Fix this:</p>

In [18]:
# Restore the original print() function
del print

# Use it as a normal print() function again
print(27)

27